#infos {
  font-family: tahoma, sans-serif; 
  font-stretch: ultra-expanded;
  font-size: 16px;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: -0.10em;
}
div#contact {
  position: absolute;
  top: 160px;
  left: 50px; }
div#addr {
  position: absolute;
  top: 160px;
  left: 360px; }
div#mail {
  position: absolute;
  top: 260px;
  left: 360px; } 
p {
  margin: 3px;
}
div#flash {
  position: relative;
  width: 550px;
  height: 290px;
  top: 140px;
  left: 15px;
  background: white;
  border: 2px solid #b9004e;
  padding: 5px;
  padding-top: 0px;
  overflow: auto;
  text-align: justify;
}

