@blue: #336699;
@grey: #CECECE;
@width: 980px;
@height: 620px;
@border-width: 2px;
@main-padding: 5px;

html {
	font-family: Verdana, Lucida, Arial, Sans-serif;
	font-size: 14px;
	background: white; }
body { 
  margin: 15px;  }
a img  { 
  border: none; }
a, a:visited { 
  font-weight: bold; 
  text-decoration: none; 
  color: @blue; }
a:hover { 
  text-decoration: underline; }

