@menu-width:  290px;
@menu-height: @article-height - 10px;

nav#menu {
  width:  @menu-width;
  height: @menu-height;
  position: absolute;
  right: 0px;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  ul {
    margin: 0px;
    padding: 0px; 
    padding-left: 15px; }
  ul li { padding: 1px; }
  opacity: @opacity;
}

