@menu-width:  225px;
@menu-height: @article-height - 12px;

.no-cookies {
  font-size: 80%;
  position: absolute;
  top: 10px;
}

.no-facebook {
  text-align: right;
  padding: 20px;
  font-size: 90%;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

nav#menu {
  width:  @menu-width;
  height: @menu-height;
  overflow: auto;
  position: absolute;
  right: 0px;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  color: @pink;
  h1 {
    font-size: 16px; 
    margin: 0px;
    padding: 7px 0px 3px 5px; }
  ul {
    list-style: square;
    margin: 0px;
    padding: 0px; 
    padding-left: 35px; }
  ul ul { padding-left: 25px; }
  ul li { padding-bottom: 1px; }
  opacity: @opacity;
  a, a:hover, a:visited { color: @pink; }
  a.current { text-decoration: underline; }
}

