table#partners {
  position: absolute;
  top: 150px;
  left: 45px;
  border-collapse: separate;
  border-spacing: 0 20px; 

  p { 
    margin: 3px; }
  tr td {
    padding-right: 10px;
    vertical-align: top; }
  a {
    text-decoration: none; 
    h1 {
      color: black;
      margin-top: 0; }
  }
}

