@import "globals.less";

.container{
  width: @width;
  height: @height;
  margin: auto; }

#langs {
  text-align: right; 
  a { font-weight: normal; }
  a.current { font-weight: bold; }
  padding: 5px 10px;
}

#main {
  padding: 5px;
  border: 2px solid black;
  overflow: hidden;
  position: relative;
  background: @grey; }

header {
  padding: 5px 10px; 
  height: @header-height; 
  a { 
    display: block; 
    float: left; 
    padding: 5px; }
  #photo {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 2px solid white;
    height: @header-height - 2*2px;
    background-repeat: no-repeat; }
}

#partition {
  position: relative;
  height: @article-height;
  background-position: top left;
  background-repeat: no-repeat; }

#text {
  width: 600px;
  height: @article-height - 12px;
  line-height: 18px;
  color: black;
  padding: 5px 10px;
  overflow: auto; 
  background: white;
  border: 1px solid black;
  opacity: @opacity;
  p, li {
    margin: 0px;
    padding: 5px;
    text-align: justify; }
  h1 {
    line-height: 25px;
    font-size: 26px;
    margin-top: 5px;
    font-variant: small-caps; }
  h2 {
    text-align: right; }
  h2, h3 {
    font-size: 20px;
    font-variant: small-caps;
    border-bottom: 1px dashed black; }
  h1 a, h2 a, h3 a {
    text-decoration: none; 
    font-weight: bold; }
}

@import "menu.less";
@import "contact.less";
@import "partners.less";
