html {
	font-family: Verdana, Lucida, Arial, Sans-serif;
	font-size: 14px;
	background: white; }
body { margin: 15px; }
a img  { border: none; }
a, a:visited { text-decoration: none; color: #336699; }
a:hover { text-decoration: underline; }

#main {
	width: 990px;
	height: 619px;
	margin: auto;
  padding: 5px;
	border: 2px solid black;
	overflow: hidden;
	position: relative;
  background: #CECECE;
  /* background-image: url('images/degrade.gif'); */ }

header {
  padding: 5px 10px; 
  margin-bottom: 20px;}

#partition {
	width: 1000px;
  background-position: top right;
  background-repeat: no-repeat; }

a#attitude_logo.home {
  top: auto;
  bottom: 10px;
  left: 10px; }
img#keyboard {
  position: absolute;
  top: 0;
  right: 0; }
div#title {
	position: absolute;
	top: 160px;
	left: 20px;
	color: cyan;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 25px; }

div#photo{
	position: absolute;
	right: 5px;
	top: 5px;
  border: 2px solid white;
	width: 315px;
	height: 190px;
	background-repeat: no-repeat; }

#text {
  margin-top: 20px;
  width: 630px;
	height: 435px;
	line-height: 18px;
	color: black;
	padding: 5px 10px;
  overflow: auto; 
  background: #CECECE;
  opacity: 0.85; }
#text a, #text a:visited {
  font-weight: bold; 
  text-decoration: none; }
#text a:hover {
  text-decoration: underline; }
#text p, #text li {
  padding: 5px;
  text-align: justify; }
#text h1 {
  line-height: 25px;
  font-size: 24px;
  font-variant: small-caps; }
#text h2 {
  text-align: right; }
#text h2, #text h3 {
  font-size: 18px;
  font-variant: small-caps;
  border-bottom: 1px dashed black; }
#text h1 a, #text h2 a, #text h3 a {
  text-decoration: none; 
  font-weight: bold;}
