html{font-family:Verdana,Lucida,Arial,Sans-serif;font-size:14px;background:white;}
body{margin:5px 0px;}
a img{border:none;}
a,a:visited{font-weight:bold;text-decoration:none;color:#336699;}
a:hover{text-decoration:underline;}
p{margin:0px;padding:0px;}
.container{width:960px;height:620px;margin:auto;}
#langs{font-size:13px;text-align:right;padding:5px 10px;}#langs a{font-weight:normal;}
#langs a.current{font-weight:bold;}
#copyright{padding:5px 10px;font-size:13px;}#copyright .left{float:left;}
#copyright .right{float:right;}
#copyright .clear{clear:both;}
#copyright a{font-weight:normal;color:black;}
#main{padding:5px;border:2px solid black;overflow:hidden;position:relative;background:#cecece;}
header{padding:5px 10px;height:140px;}header a{display:block;float:left;padding:5px;}
header #photo{display:block;position:absolute;right:5px;top:5px;border:2px solid white;height:136px;background-repeat:no-repeat;}
#partition{position:relative;height:451px;background-position:top left;background-repeat:no-repeat;}
#text{width:600px;height:439px;line-height:18px;color:black;padding:5px 10px;overflow:auto;background:white;border:1px solid black;opacity:0.9;}#text p,#text li{margin:0px;padding:5px;text-align:justify;}
#text h1{line-height:25px;font-size:26px;margin-top:5px;font-variant:small-caps;}
#text h2{text-align:right;}
#text h2,#text h3{font-size:20px;font-variant:small-caps;border-bottom:1px dashed black;}
#text h1 a,#text h2 a,#text h3 a{text-decoration:none;font-weight:bold;}
nav#menu{width:290px;height:439px;overflow:auto;position:absolute;right:0px;background-color:white;border:1px solid black;padding:5px 10px;color:#9a003d;opacity:0.9;}nav#menu h1{font-size:16px;margin:0px;padding:7px 0px 3px 5px;}
nav#menu ul{list-style:square;margin:0px;padding:0px;padding-left:35px;}
nav#menu ul ul{padding-left:25px;}
nav#menu ul li{padding-bottom:1px;}
nav#menu a,nav#menu a:hover,nav#menu a:visited{color:#9a003d;}
nav#menu a.current{text-decoration:underline;}
#contact{margin:10px 0px;}#contact h1{margin:0px;padding:0px;}
#contact ul{list-style:none;margin:0px;}
#contact ul li{padding:0px;}
#main .partners #text{width:600px;}
#main .partners ul#partners{list-style:none;margin:0px;padding:0px;}
#main .partners ul#partners>li{margin-top:5px;clear:both;}#main .partners ul#partners>li div{float:left;padding:5px;}
#main .partners ul#partners>li div.logo{width:140px;text-align:center;}
#main .partners ul#partners>li h1{font-size:20px;}
#main .partners ul#partners>li p{padding:0px;padding-top:5px;}
#main .partners ul#partners>li ul li{padding:4px;}
